<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Event Reminder</h1>
            <h5>Keeps your Memorable days Reminded</h5><br><br>
            <div class="col-4" ></div>
            <div class="col-4" id="col4">
                <div class="main">
          
                    <form >
                       [formGroup]="loginForm" (ngSubmit)="login()" -->
                        <!-- <input type="text" class="uname" placeholder="Enter Username"><br><br>
                        <input type="password" class="pass" placeholder="Enter Password"><br><br>
                        <input type="submit" class="submit"> &nbsp; &nbsp;
                        <input type="button" value="Create new Account" (click)="register()"
                        class="button button1 butefct" />

                    </form>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>

</html> -->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      
  
      <!-- Icon -->
      
  
      <!-- Login Form -->
      
      <form (ngSubmit)="login()" [formGroup]="loginform">
        <input type="text"  class="fadeIn second" name="login" formControlName="uID" placeholder="User ID">

        <div class="errors" *ngIf="(loginform.get('uID')?.touched || loginform.get('uID')?.dirty) && loginform.get('uID')?.errors " >Invalid User ID</div>
        <input type="text"  class="fadeIn third" name="login"  formControlName="pswd"  placeholder="password">
        <div class="errors" *ngIf="(loginform.get('pswd')?.touched || loginform.get('pswd')?.dirty) && loginform.get('pswd')?.errors " >Invalid password</div>
        <input type="submit" class="fadeIn fourth"  value="Log In">
        <input type="button" class="fadeIn fourth"   value="Create New Account" (click)="signUp()">
      </form>
  
      
     
  
    </div>
  </div>

